@using Presentation_.Models
@model Presentation_.Models.Parameters

@{
    Layout = "~/Views/Shared/PresentationLayout.cshtml";
}

<h2>Acquiring Presentations</h2>

<section>
    @using (Html.BeginForm("ExcelExport", "Presentation", FormMethod.Get))
    {
        <div class="container">
            <div class="row">
                @Html.Label("Data date from:");
                @Html.TextBoxFor(s => s.dateFrom, new { @class = "datepicker", id = "DateFrom" })
                DateTo: @Html.TextBoxFor(s => s.dateTo, new { @class = "datepicker", id = "DateTo" })
            </div>
            <div class="row">
                DateFormat: @Html.DropDownListFor(s => s.dateFormatPublish, Model.selectedDateFormat, new { @class = "selectpicker", name = "DateFormat", id = "dateFormat" })
            </div>
            <div class="row">
                Report: @Html.DropDownListFor(s => s.entityPublish, Model.selectedEntity, new { @class = "selectpicker", id = "entitySelect" })
            </div>
            <div class="row">              
                <button type="button" class="btn" id="merchantCheck">List check</button>
                List include: @Html.CheckBoxFor(s => s.listInclude, new { id = "listInclude" })
                @Html.Label("List amount:")         
                @Html.LabelForModel(Model.listCount)
            </div>
            
            <br />
          
        </div>

    <button type="button" class="btn" id="GO_new">GO</button>
    <button type="submit" class="btn btn-default" id="Export">Export</button>
    }

    <div class="row">
        @using (Html.BeginForm("ExcelImport", "Presentation", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.Label("Files to load:");
            @Html.TextBox("files", "", new { type = "file", multiple = "multiple" })
            <br />
            <button type="submit" value="Load list" id="listLoad">Load list</button>
        }
    </div>

</section>

extLink: @Html.ActionLink("TestViewLink", "TestView", "Presentation")

<svg id="barChart"></svg>

<div id="tableDiv"></div>
