@using Northwind.Models.Validation
@model Northwind.Models.Validation.OrderDetail

@{
    ViewBag.Title = "Change";
}

<h2>Change</h2>


    @using (Html.BeginForm("Change", "Edit", FormMethod.Post))
    {

    @Html.AntiForgeryToken()

<table class="table-bordered">
    <tr>
        <td>
            @Html.LabelFor(s => s.ContactName)
        </td>
        <td>
            @Html.LabelFor(s => s.ProductName)
        </td>
        <td>
            @Html.LabelFor(s => s.Quantity)
        </td>
        <td>
            @Html.LabelFor(s => s.UnitPrice)
        </td>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(s => Model.ContactName)
        </td>
        <td>
            @Html.DisplayFor(s => s.ProductName)
        </td>
        <td>
            @Html.TextBoxFor(s => s.Quantity)
        </td>
        <td>
            @Html.DisplayFor(s => s.UnitPrice)
            @Html.HiddenFor(s => s.productID)
            @Html.HiddenFor(s => s.orderID)
        </td>      
    </tr>
</table>

<div><button type="submit">Save</button></div>
    }


<div>
    @Html.ActionLink("Return", "Orders")
</div>
