@using MVC_SB.Models;
@model MultiFormModel

@{
    ViewBag.Title = "MultiForm";
}

<h2>MultiForm</h2>

<table>
    <tr>
        <th>
            @Html.LabelFor(s => s.ID)
        </th>
        <th>
            @Html.LabelFor(s => s.Name)
        </th>
        <th>
            @Html.LabelFor(s => s.dateFrom)
        </th>
        <th>
            @Html.LabelFor(s => s.dateTo)
        </th>
        <th></th>
        <th></th>
    </tr>
   
    @foreach (MultiFormModel m in Model.formsList)
    {       
        using (@Html.BeginForm("MultiForm", "Default", FormMethod.Post))
        {
            <tr>
                <!--Hidden & textbox send to controller-->
                <td>@Html.HiddenFor(s => m.ID, new { Name = "ID" })</td>
                <td>@Html.DisplayFor(s => m.Name)</td>
                <td>@Html.TextBoxFor(s => m.dateFrom, new { Name = "DateFrom", @class = "datepicker" })</td>
                <td>@Html.TextBoxFor(s => m.dateTo, new { Name = "DateTo", @class = "datepicker" })</td>
                <td>@Html.DisplayFor(s => m.status)</td>

                
                <td>@Html.HiddenFor(s => m.Name)</td>             
                <td>@Html.HiddenFor(s => m.status)</td>
                
                <!--value passed as name command string parameter to controller -> command:Start-->                    
                <td><input type="submit" value="Start" name="command"/></td>
                <td><input type="submit" value="Stop" name="command"/></td>
            </tr>
        }
    }
</table>
