@{
    Layout = "~/Views/Shared/_Layout_JsonAngularDriver.cshtml";
}
@model Intranet.Models.NewsModel.CommentsNews
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NewsViewer</title>
    <link href="~/Content/card.css" rel="stylesheet" />
    <script src="~/Scripts/CustomScripts/QuizJsonEditorForm/CKEditor/ckeditorViewer.js"></script>
    <script src="~/Scripts/CustomScripts/QuizJsonEditorForm/BootstrapModeules/bootstrap-dialog.min.js"></script>
    <link href="~/Scripts/CustomScripts/QuizJsonEditorForm/BootstrapModeules/bootstrap-dialog.min.css" rel="stylesheet" />
    <script>
        var k = null;
        function getFocus(sid, id) {
            
            document.getElementById("commentArea").focus();
            document.getElementById("commentArea").value = sid.toString();
            k = id;
        }

        function init() {
            if (document.getElementById('commentArea').value == '') {
                BootstrapDialog.alert('Комментарий пуст');
            }
            else {
                $.ajax
                    ({
                        url: 'News/Viewer',
                        type: "post",
                        data: { 'parentId': k, 'commentText': document.getElementById('commentArea').value, 'newsId': '@Model.News.Id' },
                        cache: false,
                        success: function (savingStatus) { location.reload() },
                        error: function (xhr, ajaxOptions, thrownError) { }
                    });
            }
        };
    </script>

</head>
<body>
    <div class="col-md-10 col-md-offset-1">
        <div class="jumbotron">
            <div class="container">
                <h2>@Model.News.Subject</h2>
                <p>
                    @(new HtmlString(Model.News.Body))
                    <script>
                        CKEDITOR.config.extraPlugins = "base64image";
                        var editor = CKEDITOR.replace('editor1');

                        editor.on('change', function (evt) {
                            console.log('Total bytes: ' + evt.editor.getData());
                        });
                        function htmlEncode(value) {
                            return $('<div/>').text(value).html();
                        }
    </script>
                </p>
            </div>
        </div>
        <div class="w3-white w3-padding">
            <form method="post" action="">
            <input type="hidden" value="@ViewBag.BookId" name="BookId" />
                @helper ShowTree(List<Intranet.Models.NewsModel.TreeItem<Intranet.Models.NewsModel.Comment>> comments)
                {

                    foreach (var sc in comments)
                    {
                            <div class="media">
                                <div class=media-left> <img src="~/Content/Person Male-48.png" /> </div>
                                <div class=media-body>
                                   <h4 class=media-heading>@sc.Item.Author.Replace("NSPK\\", "") &nbsp; @sc.Item.CommentDate</h4>
                                    <p>@sc.Item.Text</p>
                                    
                                    <button type="button" id="@sc.Item.Id" class="btn btn-xs btn-success" onclick="getFocus('@sc.Item.Author.Replace("NSPK\\",""), ', '@sc.Item.Id' )"><span class="glyphicon glyphicon-comment"></span>&nbsp; Ответить</button>
                                    @if (sc.Children != null)
                                    {
                                        if (sc.Children.ToList().Count > 0)
                                        {
                                            @ShowTree(sc.Children.ToList())
                                        }
                                    }
                                
                                </div>
                            
                            </div>
                    }
                }
                @ShowTree(Model.CommnetsTree)

            </form>
        </div>

        <br>
        <div class="row">
            <div class="col-md-11">@Html.TextArea("commentArea", new { htmlAttributes = new { @class = "form-control" }, style = "width: 100%; max-width: 100%; height: 10%;", placeholder = "Оставьте комментарий", maxlength = "500" })</div>
            <div class="col-md-1"><button type="submit" class="btn btn-lg btn-success" onclick="init()"><i class="icon-user glyphicon glyphicon-comment"></i></button></div>
        </div>

        <br>
        <br>
    </div>

    <script>
         $("#commentArea").keyup(function () {
            if (!this.value) {
                k = null;
            }
         });
    </script>



</body>
</html>
