@model IEnumerable<TransactionSite_.Models.QueryState>

@{
    ViewBag.Title = "Insert";
}

<!--Passes multiple parameters to -->
@helper ServiceList (IEnumerable<TransactionSite_.Models.QueryState> services)
{
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.TableName)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.DateFrom)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.DateTo)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Status)
            </th> 
        </tr>        
@foreach (var tab in Model)
{
    <tr>
        @using (Html.BeginForm("Insert","Home",FormMethod.Post))
        {        
            <td>
                <input type="hidden" id="ID" name="ID" value="@tab.ID" />
            </td>
            <td>
                <input type="text" id="DateFrom" name="DateFrom" value="@tab.DateFrom" />
            </td>
            <td>
                <input type="text" id="DateTo" name="DateTo" value="@tab.DateTo" />
            </td>            
            <td>
                <input type="submit" value="Submit" name="action:Update">
            </td>
            <td>
                <input type="submit" value="Stop" name="action:Stop" />
            </td>
        }
    </tr>
}
    </table>
}

<h1>Insert 1</h1>

@ServiceList(Model);

        <h2>Insert</h2>


        <table>
            <tr>
                <th>
                    @Html.DisplayNameFor(m => m.TableName)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.DateFrom)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.DateTo)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Status)
                </th>
            </tr>
            @foreach (var tab in Model)
            {
                <tr>
                    @using (Html.BeginForm("Insert", "Home", FormMethod.Post))
                    {
                        <td>
                            @Html.HiddenFor(m => tab.TableName)
                            @Html.DisplayFor(m => tab.TableName)
                        </td>
                        <td>
                            @Html.HiddenFor(m => tab.DateFrom)
                            @Html.EditorFor(m => tab.DateFrom, new { type = "date" })
                        </td>
                        <td>
                            @Html.HiddenFor(m => tab.DateTo)
                            @Html.EditorFor(m => tab.DateTo)
                        </td>
                        <td>
                            @Html.HiddenFor(m => tab.Status)
                            @Html.DisplayFor(m => tab.Status)
                        </td>
                        <td>

                            <input type="hidden" id="ID" name="ID" value="@tab.ID" />
                            <input type="hidden" id="DateFrom" name="DateFrom" value="@tab.DateFrom" />
                            <input type="hidden" id="DateTo" name="DateTo" value="@tab.DateTo" />
                            <input type="submit" value="Submit">
                        </td>
                        <td>
                            @Html.ActionLink("ActionLink", "Insert", "Home", new { ID = tab.ID, DateFrom = tab.DateFrom, DateTo = tab.DateTo }, null)
                        </td>
                    }
                </tr>
            }
        </table>


        <h2>Insert2</h2>


        <table>
            <tr>
                <th>
                    @Html.DisplayNameFor(m => m.TableName)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.DateFrom)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.DateTo)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Status)
                </th>
            </tr>
            @foreach (var tab in Model)
    {
                @Html.Partial("Item", tab);
    }
        </table>