@model TransactionSite_.Models.QueryState

@{
    Layout = null;
}

<!DOCTYPE html>

@using (Html.BeginForm("Insert", "Home",FormMethod.Post))
{
    <tr>
        <td>@Html.HiddenFor(m => m.ID)</td>
        <td>@Html.DisplayFor(m => m.TableName)</td>
        <td>@Html.TextBoxFor(m => m.DateFrom, new { type="date"})</td>
        <td>@Html.TextBoxFor(m => m.DateTo)</td>
        <td>@Html.DisplayFor(m => m.Status)</td>
        <td><input type="submit" value="SubmitButton"/></td>
    </tr>
}