@{
    Layout = "~/Views/Shared/_Layout_JsonAngularDriver.cshtml";
    var k = 3;
    var itemsQuestion = 0;
    var yourselfRezult = string.Empty;
    IDictionary<int, int> resultsSummury = new Dictionary<int, int>();
    var isNpsQuestion = false;
    int pp = 1;
}
@using Intranet.Models.QuizModel
@model List<Intranet.Models.QuizModel.QuizResult>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Results</title>
    <style>
        .popover3 {
            max-width: 500px;
            width: 400px;
        }
    </style>
    <script>
        $(document).ready(function() {
            $('[data-toggle="popover"]').popover();
        });
        $(document).ready(function() {
            $('[data-toggle="popover3"]').popover({
                container: 'body' });
        });
        $(document).ready(function() {
            $('table.display').DataTable({ searching: false, paging: false, info: false });
        });

        function getSelectedChbox(frm) {
            var selchbox = [];
            var selchbox2 = [];
            var stringMails = "";
            var inpfields = document.getElementsByTagName('input');
            var nr_inpfields = inpfields.length;
            for (var i = 0; i < nr_inpfields; i++) {
                if (inpfields[i].type == 'checkbox' && inpfields[i].checked == true) selchbox.push(inpfields[i].value);
            }
            if (selchbox[i]) selchbox.push(inpfields[i].value);

            for (var i = 0; i < selchbox.length; i++) {
                var email = selchbox[i].split(';');
                for (var j = 0; j < email.length; j++) {
                    if (selchbox2.indexOf(email[j]) == -1) selchbox2.push(email[j]);
                }
            }

            for (var r = 0; r < selchbox2.length; r++) {
                if (selchbox2[r] != "")
                    stringMails += selchbox2[r] + ";";
            }
            console.log(stringMails);
            return stringMails;
        }

    </script>
</head>
<body>

<!--Легенда-->

<div class="col-md-8 col-md-offset-2">
    <br>
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1">Легенда</a>
                </h4>

            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <table class="table table-striped table-bordered">
                    <thead>

                    <tr data-toggle="collapse" data-target="#accordion" class="clickable">
                        <th align="center" width="20%">
                            № Вопроса
                        </th>
                        <th>
                            Вопрос
                        </th>
                        <th>
                            Кол-во возм-ых вариантов
                        </th>
                        <th>
                            Ответ
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    @{
                        isNpsQuestion = (ViewBag.Quiz.Questions as List<Question>).Any(x => x.QuestionType.Kind == Kind.Rating);
                    }

                    @foreach (var item in ViewBag.Quiz.Questions as List<Question>)
                    {
                        <tr>

                            <td>
                                @item.Id
                            </td>
                            <td>
                                @item.QuestionText
                            </td>

                            @if (item.QuestionType.TypeOfQuestion == TypeOfQuestion.Single)
                            {
                                <td>Один</td>
                            }
                            else
                            {
                                <td>Несколько</td>
                            }

                            <td>
                                <table class="table table-striped  table-bordered">
                                    <th>
                                        №
                                    </th>
                                    <th>
                                        Текст
                                    </th>
                                    @foreach (var item2 in item.Answers ?? new List<Answer>())
                                    {
                                        <tr>
                                            <td width="20%">@item2.Id</td>
                                            <td>@item2.AnswerText</td>
                                        </tr>
                                    }
                                </table>
                            </td>

                        </tr>
                    }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!--Детализация-->
<div class="col-md-8 col-md-offset-2">
    <br>
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse2">Детализация результатов</a>
                </h4>

            </div>
            <div id="collapse2" class="panel-collapse collapse in">

                <table class="table table-striped">
                    <tr>
                        <th width="20%">
                            Участник
                        </th>
                        @foreach (var item in ViewBag.Quiz.Questions as List<Question>)
                        {
                            <th>
                                <div>
                                    <a data-toggle="popover" data-trigger="hover" data-content="@item.QuestionText">Вопрос № @item.Id </a>
                                </div>
                            </th>
                        }
                    </tr>
                    @foreach (var str in Model.AsEnumerable().Reverse())
                    {
                        var p = 1;
                        <tr>
                            @if (isNpsQuestion)
                            {
                                <td>Участник @pp</td>
                            }
                            else
                            {
                                <td>@str.PerformerName.Split(';')[0]</td>
                            }
                            @foreach (var item in ViewBag.Quiz.Questions as List<Question>)
                            {
                                <td>
                                    <table>
                                        <tr>
                                            @foreach (var answers in str.PerformerAnswer.Where(y => y.PerformerQuestion.QuestionId == p).ToList())
                                            {
                                                if (answers.AnswerId != -1 && item.QuestionType.Kind != Kind.Rating)
                                                {
                                                    <td>
                                                        <div>
                                                            <a class="bg-primary" data-toggle="popover" data-trigger="hover" data-content="@answers.AnswerText">&nbsp; @answers.AnswerId &nbsp;</a>
                                                        </div>
                                                    </td>
                                                }
                                                if (answers.AnswerId != -1 && item.QuestionType.Kind == Kind.Rating)
                                                {
                                                    <td>
                                                        <div>
                                                            <a class="bg-primary" data-toggle="popover" data-trigger="hover" data-content="@answers.AnswerText">&nbsp; @answers.AnswerText &nbsp;</a>
                                                        </div>
                                                    </td>
                                                }
                                                if (answers.PerformerQuestion.YourAnswer != null)
                                                {
                                                    yourselfRezult = answers.PerformerQuestion.YourAnswer;
                                                }
                                            }
                                            @if (!string.IsNullOrEmpty(yourselfRezult))
                                            {
                                                <td>@yourselfRezult</td>
                                            }
                                        </tr>
                                    </table>
                                </td>

                                yourselfRezult = string.Empty;
                                p++;
                            }

                        </tr>
                        pp++;
                    }

                </table>
            </div>
        </div>
    </div>
</div>

<!--Итого-->
<div class="col-md-8 col-md-offset-2">
    <br>
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse3">Итого</a>
                </h4>

            </div>
            <div id="collapse3" class="panel-collapse collapse in">

                @foreach (var item in ViewBag.Quiz.Questions as List<Question>)
                {
                    k = k + 1;
                    itemsQuestion++;
                    var itemsAnswer = 1;

                    if (item.QuestionType.Kind == Kind.OnlyYourVariant)
                    {
                        continue;
                    }
                    <div class="panel-group">
                        <div class="panel">

                            <div class="panel-heading">

                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapse_@k">Вопрос № @item.Id: @item.QuestionText</a>
                                </h4>
                                <div id="collapse_@k" class="panel-collapse collapse in">
                                    
                                    @if (item.QuestionType.Kind == Kind.Rating)
                                    {
                                        <table id="" class="table display table-striped table-bordered">
                                            <thead>
                                            <th width="5%">№</th>
                                            <th>Количество ответов</th>
                                            <th class="text-center">%</th>
                                            <th width="21%" class="text-center">Коэффициент</th>
                                            </thead>
                                            <tbody>

                                            @{
                                                resultsSummury.Clear();
                                            }

                                            @foreach (var answer in item.Answers ?? new List<Answer>())
                                            {
                                                var executers = Model
                                                    .SelectMany(x => x.PerformerAnswer.Where(t => t.PerformerQuestion.QuestionId == item.Id && t.AnswerId == answer.Id), (parent, child) => new {parent.PerformerName}).ToList()
                                                    .Select(y => y.PerformerName).Distinct();

                                                resultsSummury.Add(answer.Id, executers.Count());
                                            }
                                            @if (resultsSummury.Any())
                                            {
                                                resultsSummury = resultsSummury.Reverse().ToDictionary(entry => entry.Key, entry => entry.Value);

                                                <tr>
                                                    <td class="danger">1-6</td>
                                                    <td class="danger">
                                                        @resultsSummury.Take(6).Sum(x => x.Value)
                                                    </td>
                                                    <td class="danger">
                                                        @(Math.Round(Convert.ToDouble(resultsSummury.Take(6).Sum(x => x.Value)) / Convert.ToDouble(resultsSummury.Sum(x => x.Value)) * 100, 2))
                                                    </td>
                                                    <td rowspan="3" align="center" valign="middle">
                                                        <br><br>
                                                        @(Math.Round(Convert.ToDouble(resultsSummury.Skip(8).Take(2).Sum(x => x.Value)) / Convert.ToDouble(resultsSummury.Sum(x => x.Value)), 2) * 100 -
                                                          Math.Round(Convert.ToDouble(resultsSummury.Take(6).Sum(x => x.Value)) / Convert.ToDouble(resultsSummury.Sum(x => x.Value)), 2) * 100)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="warning">7-8</td>
                                                    <td class="warning">
                                                        @resultsSummury.Skip(6).Take(2).Sum(x => x.Value)
                                                    </td>
                                                    <td class="warning">
                                                        @(Math.Round(Convert.ToDouble(resultsSummury.Skip(6).Take(2).Sum(x => x.Value)) / Convert.ToDouble(resultsSummury.Sum(x => x.Value)) * 100, 2))
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="success">9-10</td>
                                                    <td class="success">
                                                        @resultsSummury.Skip(8).Take(2).Sum(x => x.Value)
                                                    </td>
                                                    <td class="success">
                                                        @(Math.Round(Convert.ToDouble(resultsSummury.Skip(8).Take(2).Sum(x => x.Value) / Convert.ToDouble(resultsSummury.Sum(x => x.Value))) * 100, 2))
                                                    </td>
                                                </tr>
                                            }
                                            </tbody>

                                        </table>
                                    }


                                    <table id="" class="table display table-striped table-bordered">
                                        <thead>
                                        <th >№</th>
                                        <th>Ответ</th>

                                        <th>Количество</th>
                                        @if (!isNpsQuestion)
                                        {
                                            <th></th>
                                            <th>Ответить</th>
                                        }
                                        </thead>
                                        <tbody>

                                        @foreach (var answer in item.Answers ?? new List<Answer>())
                                        {
                                            var i = 0;
                                            var executer = string.Empty;
                                            var executerMail = string.Empty;
                                            var executers = Model
                                                .SelectMany(x => x.PerformerAnswer.Where(t => t.PerformerQuestion.QuestionId == item.Id && t.AnswerId == answer.Id), (parent, child) => new {parent.PerformerName}).ToList()
                                                .Select(y => y.PerformerName).Distinct();

                                            i += executers.Count();

                                            foreach (var s in executers)
                                            {
                                                executer = executer + s.Split(';')[0].Split(' ')[0] + " " + s.Split(';')[0].Split(' ')[1] + ";\n";
                                                executerMail = executerMail + s.Split(';')[1] + ";";
                                            }
                                            <tr>
                                                <td width="5%">@answer.Id</td>
                                                <td width="60%">
                                                    @answer.AnswerText
                                                </td>
                                                <td width="9%" align="center">@i</td>
                                                @if (!isNpsQuestion)
                                                {
                                                    <td width="4%" align="center">

                                                        <button type="button" class="btn btn-sm btn-danger"  data-toggle="popover3" title="Участники" data-content="@executer">
                                                            <span class="glyphicon glyphicon-menu-hamburger"></span>
                                                        </button>

                                                    </td>

                                                    <td width="5%" align="center">
                                                        <input type="checkbox" name="option" value="@executerMail">

                                                    </td>
                                                }
                                            </tr>
                                            itemsAnswer++;
                                        }


                                        @{
                                            var executersh = Model
                                                .SelectMany(x => x.PerformerAnswer
                                                .Where(t => t.PerformerQuestion.QuestionId == item.Id && !string.IsNullOrEmpty(t.PerformerQuestion.YourAnswer)),
                                                    (parent, child) =>
                                                        new
                                                        {
                                                            Name = parent.PerformerName,
                                                            Value  = child.PerformerQuestion.YourAnswer
                                                        })
                                                .ToList()
                                                .GroupBy(s=>s.Name)
                                                .Select(s=> new
                                                {
                                                    Name = s.Key,
                                                    Value = s.Select(i => i.Value).FirstOrDefault()
                                                })
                                                .Select(y => new
                                                {
                                                    y.Name,
                                                    y.Value
                                                })
                                                .ToDictionary(x=>x.Name, x=>x.Value);

                                            foreach (var itemm in executersh)
                                            {
                                                var executer = itemm.Key.Split(';')[0].Split(' ')[0] + " " + itemm.Key.Split(';')[0].Split(' ')[1];
                                                var executerMail = itemm.Key.Split(';')[1] + ";";

                                                    <tr>
                                                        <td>@itemsAnswer</td>
                                                        <td>@itemm.Value</td>
                                                        <td colspan="2">@executer</td>
                                                        <td width="5%" align="center">
                                                            <input type="checkbox" name="option" value="@executerMail">

                                                        </td>
                                                    </tr>
                                                    itemsAnswer++;
                                             }
                                        }    
                                            

                                        </tbody>

                                    </table>

                                </div>

                            </div>

                        </div>

                    </div>
                }
                @if (!isNpsQuestion)
                {
                    <div class="container">
                        <table border="0">
                            <tr>
                                <td width="95%"></td>
                                <td align="center">
                                    <button type="button" class="btn btn-large btn-success" data-content="" onclick="location.href = 'mailto:' + getSelectedChbox('option')">
                                        <span class="glyphicon glyphicon-envelope"></span>
                                    </button>
                                </td>
                            </tr>

                        </table>
                        <br/>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


</body>
</html>