@using Northwind.Models.Validation
@model Northwind.Models.Validation.OrderView

@{
    ViewBag.Title = "Orders";
}

<h2>Orders</h2>

@Html.LabelForModel(Model.employee.FirstName + " " + Model.employee.FirstName)

<table>
    <tr>
        <td>@Html.LabelFor(s=>s.orderDetail.ContactName)</td>
        <td>@Html.LabelFor(s => s.orderDetail.ProductName)</td>
        <td>@Html.LabelFor(s => s.orderDetail.Quantity)</td>
        <td>@Html.LabelFor(s => s.orderDetail.UnitPrice)</td>
        
    </tr>
    @foreach( var b in Model.OrderDetails)
    {
    <tr>
        <td>@b.ContactName</td>
        <td>@b.ProductName</td>
        <td>@b.Quantity</td>
        <td>@b.UnitPrice</td>
        <td>
            @Html.ActionLink("Edit","Edit", new { pid = b.productID , oid = b.orderID}) 
            @Html.ActionLink("Delete", "Delete", new { pid = b.productID, oid = b.orderID })
        </td>
        <td><button>Edit</button></td>
    </tr>
    }
</table>
