@using Northwind.Models.Validation
@model Northwind.Models.Validation.Register

@{
    ViewBag.Title = "Register" + Model.Message;
}

<h2>Register</h2>

<tr>
    
    @Html.LabelForModel(Model.Message)
</tr>

<div>
    @using (Html.BeginForm("Register", "Validation", FormMethod.Post))
    {
       @Html.AntiForgeryToken()

            <div>
                @Html.LabelFor(s => s.Email)
            </div>
       
            <div>
                @Html.TextBoxFor(s => s.Email)
                @Html.ValidationMessageFor(s => s.Email)
            </div>
        
        
            <div>
                @Html.LabelFor(s => s.Password)
            </div>

            <div>
                @Html.PasswordFor(s => s.Password)
                @Html.ValidationMessageFor(s => s.Password)
            </div>


            <div>
                @Html.LabelFor(s => s.PasswordConfirm)
            </div>

            <div>
                @Html.PasswordFor(s => s.PasswordConfirm)
                @Html.ValidationMessageFor(s => s.PasswordConfirm)
            </div>


            <div>
                @Html.LabelFor(s => s.FirstName)
            </div>

            <div>
                @Html.TextBoxFor(s => s.FirstName)
                @Html.ValidationMessageFor(s => s.FirstName)
            </div>

            <div>
                @Html.LabelFor(s => s.LastName)
            </div>

            <div>
                @Html.TextBoxFor(s => s.LastName)
                @Html.ValidationMessageFor(s => s.LastName)
            </div>


        <button type="submit" id="RegisterID">Register</button>
    }
</div>